/* CSS HEX */
/* https://coolors.co/bee9e8-62b6cb-1b4965-cae9ff-5fa8d3 */
/* CSS HEX */
/*
--powder-blue: #bee9e8ff;
--maximum-blue: #62b6cbff;
--indigo-dye: #1b4965ff;
--columbia-blue: #cae9ffff;
--carolina-blue: #5fa8d3ff;

/*https://coolors.co/ef798a-f7a9a8-7d82b8-613f75-e5c3d1 */
/* CSS HEX */
/*
--ultra-red: #ef798aff;
--pastel-pink: #f7a9a8ff;
--middle-blue-purple: #7d82b8ff;
--cyber-grape: #613f75ff;
--queen-pink: #e5c3d1ff;  

-> Cores antes:
--primary-color:           #0669ac;
    --primary-color-light: #42a6e9;
    --white-color:         #ffffff;
    --p-color:             #7696af; 
    --p-color-light:       #8eb9da;
    --menu-bg-color:       #155279;
    --gray-color:          #8da1cafd;
    --dark-color:          #131d3d;
    --dark-shadow-color:   #3d3d3d11;
    --dark-shadow-light:   #0a101a15;

*/

/* CSS Variables*/

:root {
    --primary-color: #0669ac;
    --primary-color-light: #42a6e9;
    --white-color: #ffffff;
    --background: #0c1947;
    --p-color: #7696af;
    --p-color-light: #8eb9da;
    --menu-bg-color: #155279;
    --gray-color: #8da1cafd;
    --dark-color: #131d3d;
    --dark-shadow-color: #3d3d3d11;
    --dark-shadow-light: #0a101a15;
    --black-color: #000000;
    --none-color: #00000000;

    /* typography*/
    --heading-font-family: 'Karla', sans-serif;
    --base-font-family: 'Rubik', sans-serif;
    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 300;

    --h1-font-size: 56px;
    --h2-font-size: 48px;
    --h3-font-size: 38px;
    --h4-font-size: 34px;
    --h5-font-size: 30px;
    --h6-font-size: 24px;
    --p-font-size: 18px;
    --base-font-size: 16px;
    --button-font-size: 20px;

    /* borders */
    --border-radius-large: 100%;
    --border-radius-medium: 80px;
    --border-radius-small: 40px;
    --border-radius-mini: 4px;

}

/*==== Typography ====*/
body {
    font-family: var(--base-font-family);
    background: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-bold);
}

p {
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    line-height: 2em;
    letter-spacing: 0.3px;
    color: var(--p-color);
    text-align: justify;
    text-justify: inter-word;
}

a {
    font-size: var(--p-font-size);
    font-family: var(--base-font-family);
}

input,
textarea {
    font-family: var(--base-font-family);
}

/*==== CSS Reset ==== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*==== Global ====*/
a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    padding: 64px 16px;
    /* padding: top-bottom left-right */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*==== Nav Bar ====*/
/*
ORIGINAL
nav {
    background: var(--menu-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

    width: 36 px;
    height: 36 px;
    margin-top: 15 px;
    <blanc>
                <img src="./assets/blanc.jpg" alt="ZEBU" />
            </blanc>
    <ul1>
                    <li1>
                        <a1>ZEBU FLUIDEX COMPANY</a1>
                    </li1>
                </ul1>
    <h1>
            <span>Olá, nós somos a</span>
            <strong>Zebu Fluidex Company</strong>
            <span>e este é nosso site de </span>
            <strong>Consultoria</strong>
        </h1>

    <iframe src="files/Experimento 1.pdf" height="560" width="400"></iframe>
    
*/
nav {
    background: var(--menu-bg-color);
    width: 100%;
    display: flex;
}

nav aside {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
}

nav icon img {
    width: 50px;
    height: 50px;
    align-items: right;
    margin-right: 15px;
    justify-content: flex-start;
    object-fit: contain;
    cursor: pointer;

}

#barra-menu {
    background-color: var(--menu-bg-color);
    height: 100vh;
    width: 0px;
    transition: 0.4s all;
}

@media (max-width: 900px) {
    #barra-menu {
        display: block;
        width: 100%;
    }

    nav icon img {
        text-align: right;
        margin-bottom: 20px;
    }
}

nav ul {
    height: 100%;
    width: 100%;
}


nav ul li {
    padding: 16px 16px;
    text-align: center;

}

nav ul li a {
    color: var(--p-color-light);
    transition: 300ms;
    text-decoration: none;
}

nav ul li h5 {
    color: var(--white-color);
    text-decoration: none;
}

#calculator .input-container ul li h6 {
    color: var(--primary-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--white-color);
}



nav zebu img {
    width: 80px;
    height: 80px;
    align-items: right;
    border-radius: var(--border-radius-small);
    justify-content: flex-start;
    object-fit: contain;
}

nav logo img {
    width: 140px;
    height: 140px;
    align-items: right;
    border-radius: var(--border-radius-small);
    justify-content: flex-start;
    object-fit: contain;
}

nav blanc img {
    width: 20px;
    height: 20px;
    align-items: right;
    border-radius: var(--border-radius-small);
    justify-content: flex-start;
    object-fit: contain;
}

ul blanc1 img {
    width: 20px;
    height: 20px;
    align-items: right;
    border-radius: var(--border-radius-small);
    justify-content: flex-start;
    object-fit: contain;
}


/* === Home ===*/
#home {
    background-image: url('../assets/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h1 span {
    font-size: var(--h3-font-size);
    color: var(--dark-color);
}

#home h1 strong {
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    color: var(--primary-color);

}



/*==== About ====*/
#about h5 {
    text-align: left;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: var(--primary-color);

}

#about h4 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--menu-bg-color);

}

#about h6 {
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--primary-color-light);

}

#about h2 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--white-color);

}

#about h3 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--white-color);

}

#about h1 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);

}

#about .about-container {
    display: grid;
    grid-template-columns: 250px 550px;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    #about .about-container {
        display: block;
        width: 90%;
    }

    #about .about-container .about-image {
        text-align: center;
        margin-bottom: 16px;
    }
}



#about .about-container .about-image img {
    width: 220px;
    height: 220px;
    border-radius: var(--border-radius-small);
    box-shadow: 1px 1px 1px 1px var(--white-color);
    /* horizontal vertical spreed grossura*/
    object-fit: contain;
}

#about .accordion-header h4 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--menu-bg-color);
}

#about .accordion accordion-flush {
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
}


/*=== About us ===*/
#aboutus h5 {
    text-align: left;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: var(--primary-color);

}

#aboutus h4 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--dark-color);

}

#aboutus h1 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);

}

#aboutus h6 {
    text-align: match-parent;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--primary-color-light);

}

#aboutus h2 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--white-color);

}

#aboutus h3 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--white-color);

}

#aboutus .about-container {
    display: grid;
    grid-template-columns: 250px 550px;
    column-gap: 32px;
    justify-content: center;
    align-items: center;
}


@media (max-width: 900px) {
    #aboutus .about-container {
        display: block;
        width: 90%;
    }

    #aboutus .about-container .aboutus-image {
        text-align: center;
        margin-bottom: 16px;
    }
}


#aboutus .about-container .aboutus-image img {
    width: 265px;
    height: 265px;
    border-radius: var(--border-radius-small);
    box-shadow: 1px 1px 1px 1px var(--white-color);
    /* horizontal vertical spreed grossura*/
    object-fit: contain;
}


/*==== Projects ====*/
#projects h5 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: var(--primary-color);
}

#projects h6 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: var(--primary-color);
}

#projects h1 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);

}

#projects .container {
    display: flex;
    column-gap: 45px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

#projects .container .card {
    padding: 32px 32px;
    border-radius: var(--border-radius-small);
    box-shadow: 2px 1px 4px 2px var(--dark-shadow-color);
    border: 1px solid var(--dark-shadow-color);
    height: 330px;
    max-width: 450px;
    margin: 16px;
    transition: 300ms;

}


#projects .container .card .image-container {
    width: 100%;
    height: 150px;

}

#projects .container .card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-mini);
}

#projects .container .card h6 {
    width: 100%;
    color: var(--primary-color);
    margin-top: 16px;
}



/*
#projects .container .card:hover {
    transform: translateY(-16px);
    box-shadow: 2px 1px 4px 2px var(--dark-shadow-light);
}
*/

/*==== Team ====*/
#team h5 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--primary-color);
}

#team h4 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark-color);
}

#team h6 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: var(--none-color);
}

#team h1 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);

}

#team .container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

#team .container1 .card1 {
    padding: 50px 50px;
    border-radius: var(--border-radius-small);
    height: 330px;
    max-width: 450px;
    margin: 16px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);
}

#team .container1 .card1 .image-container1 {
    width: 50%;
    height: 110px;
    justify-content: center;
    align-items: center;
}

#team .container1 .card1 .image-container1 img {
    width: 200px;
    height: 200px;
    justify-content: center;
    border-radius: var(--border-radius-large);
    box-shadow: 1px 1px 1px 1px var(--white-color);
    /* horizontal vertical spreed grossura*/
    object-fit: contain;
}

#team .container1 .card1 h6 {
    width: 90%;
    color: var(--none-color);
    margin-top: 16px;
    transition: none;
}

#team label #bar {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);
}


/*==== Contacts ====*/
#contacts h5 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    width: 100%;
    color: var(--primary-color);
}

#contacts h1 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);

}

#contacts h3 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);

}

#contacts .contacts-container {
    display: grid;
    grid-template-columns: 450px auto;
    column-gap: 64px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 900px) {
    #contacts .contacts-container {
        display: block;
        width: 90%;
    }

}


#contacts form {
    border: none;
    box-shadow: 2px 1px 4px 2px var(--dark-shadow-color);
    border-radius: var(--border-radius-small);
    padding: 32px;
}

#contacts .input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contacts label {
    color: var(--p-color);
}



#contacts input,
textarea,
text-area-container {
    padding: 8px 16px;
    border: 2px solid var(--gray-color);
    border-radius: var(--border-radius-small);
    outline: 0;
    transition: 300ms;
    margin-top: 4px;
    margin-bottom: 16px;
}

#contacts textarea {
    width: 100%;
}

#contacts textarea:focus,
#contacts input:focus {
    border-color: var(--primary-color);
}

#contacts button {
    border-radius: var(--border-radius-small);
    background-color: var(--primary-color);
    padding: 8px 16px;
    color: var(--white-color);
    border: none;
    width: 100%;
    transition: 300ms;
}

#contacts button:hover {
    background-color: var(--primary-color-light);
}


#contacts .contacts-email {
    color: var(--menu-bg-color);
    font-weight: 300;
}

#contacts ul {
    margin: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#contacts ul a {
    color: var(--primary-color-light);
    font-size: var(--h6-font-size);
    margin: 5px 20px 5px 0;
    transition: 300ms;
    text-decoration: none;
}

#contacts ul a:hover {
    color: var(--dark-color);
    transform: translateY(-4px);
}

@media (max-width: 900px) {
    #contacts .contacts-content {
        margin: 64px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    #contacts .contacts-content ul {
        margin: 0;
        justify-content: space-around;
        align-items: center;
    }

    #contacts .contacts-content ul a {
        margin: 0;

    }
}

@media (max-width: 500px) {
    #contacts .contacts-content ul {
        margin: 0;
        justify-content: space-between;
    }
}

/*=== Calculator ===*/

#calculator h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#calculator h1 strong {
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    color: var(--primary-color);

}

#calculator h3 {
    text-align: left;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--primary-color);
}

#calculator h2 {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: var(--white-color);

}

#calculator h4 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    width: 100%;
    color: var(--primary-color);
}

#calculator h5 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    width: 100%;
    color: var(--white-color);
}



#calculator .calculator-container {
    display: grid;
    grid-template-columns: 450px auto;
    column-gap: 64px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#calculator .input-container ul {
    margin: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


#calculator .input-container img {
    width: 10;
    height: 10;
    text-align: center;
    border-radius: var(--border-radius-mini);
}


@media (max-width: 900px) {
    #calculator .calculator-container {
        display: block;
        width: 90%;
    }

}


#calculator form {
    border: none;
    box-shadow: 2px 1px 4px 2px var(--dark-shadow-color);
    border-radius: var(--border-radius-mini);
    padding: 32px;
}

#calculator .input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#calculator label {
    color: var(--p-color);
}

#calculator input,
textarea {
    padding: 8px 16px;
    border: 2px solid var(--gray-color);
    border-radius: var(--border-radius-small);
    outline: 0;
    transition: 300ms;
    margin-top: 4px;
    margin-bottom: 16px;
}

#calculator textarea {
    width: 100%;
}

#calculator textarea:focus,
#calculator input:focus {
    border-color: var(--primary-color);
}

#calculator button {
    border-radius: var(--border-radius-small);
    background-color: var(--primary-color);
    padding: 8px 8px;
    color: var(--white-color);
    border: none;
    width: 100%;
    transition: 300ms;
}

#calculator button:hover {
    background-color: var(--primary-color-light);
}





/*==== Scroll to top ====*/
#to-top-btn {
    width: 48px;
    height: 48px;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    padding: 15px;
    border-radius: var(--border-radius-large);
    font-size: var(--p-font-size);
    transition: 300ms;
    justify-content: center;
}

#to-top-btn:hover {
    background-color: var(--dark-color);
}